<link rel="shortcut icon" href="images/photo_2019-05-24_00-38-31.png" type="image/png">
<body link="black" vlink="black" alink="black">
<a name="top"></a>
<img id="imgacc" src="images/user-account-box.png">
<a id="acc" href="Account.php">Особистий<br> кабінет</a>
<img id="imLog" src="images/photo_2019-04-23_20-44-08.jpg">
<a id="logo" href="index.php">АбітPROмощник</a>
<ul class="menu">
    <li>
        <a href="index.php">Новини</a>
    </li>
    <li>
        <a>ЗНО</a>
        <ul>
            <li><a href="ZNOgeninfo.php">Загальна інформація</a></li>
            <li><a href="Znosubject.php">Предмети ЗНО</a></li>
            <li><a href="Test.php">Тести</a></li>
        </ul>
    </li>
    <li>
        <a href="Specialities.php">Спеціальності</a>
    </li>
    <li>
        <a>ЗВО</a>
        <ul>
            <li><a href="ZVO.php">Перелік всіх ЗВО</a></li>
            <li><a href="Rate.php">Рейтинги</a></li>
        </ul>
    </li>
</ul>