body{
	background: #888888;
}
#imgacc{
	width: 40px;
	height: 40px;
	padding-top: 10px;
	padding-left: 86%;
	display: inline-block;
}
#acc{
	margin: -32px 5px ;
	padding-top: -10px;
	padding-left: 2px;
	font-size: 13pt;
	text-align: center;
	display: inline-block;
	text-decoration: none;
}
#imLog{
	margin: -20px 10%;
	height: 80px;
	width: 80px;
	display: inline-block;
}
#logo{
	margin: -30px -8% 5px ;
	padding-bottom: 10px;
	display: inline-block;
	font-family: Herical, monospace;
	font-size: 56pt;
	text-decoration: none;
}
.menu ul{
	display: none;
	text-align: center;
    background-color: #f90;
    position: absolute;
    padding-top: 10px;
    height: 50px
}
.menu li:hover ul { 
	display: block; 
	text-align: center;
	height: 50px;
}
.menu, .menu ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
}
.menu {
	margin: 0% 10% 0% 10%;
    height: 50px;
    color: #fff;
    background-color: #666;
    text-align: center;
    z-index: 2;
}
.menu li {
	background: #666;
	font-size: 18pt;
    float: left;
    position: relative;
    height: 100%;
    width: 25%;
    text-align: center;
    z-index: 2;
}
.menu li a {
    display: block;
	padding: 11px;
	color: #fff;
	text-decoration: none;
	font-size: 18pt;
	text-align: center;
	vertical-align: middle;
}
.menu ul li { 
	width: 100%; 
	text-align: center;
}
.menu li:hover { background-color: #f93; text-decoration: underline;}
.menu ul li:hover { background-color: #f93; text-decoration: underline;}
#toTop{
	visibility: hidden;
	display: block;
    cursor: pointer;
    width: 100px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    cursor: pointer;
    color: #666;
    text-decoration: none;
    z-index: 100;
}
#toTop:hover{color: #ffffff; background: #f93}