<!DOCTYPE html>
<html><head>
    <meta name="robots" content="noindex, nofollow">
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet">
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet">
    <link href="data/styles.css" type="text/css" rel="stylesheet">
    <link href="files/home/styles.css" type="text/css" rel="stylesheet">
    <script type="text/javascript">
        AXSHARE_HOST_URL = 'http://app.axure.cloud';
        AXSHARE_HOST_SECURE_URL = 'https://share.axure.com';
        ACCOUNT_SERVICE_URL = 'http://accounts.axure.com';
        ACCOUNT_SERVICE_SECURE_URL = 'https://accounts.axure.com';
        ON_PREM_LDAP_ENABLED = 'false';
    </script><script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/prototypePre.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/prototypePost.js"></script>
    <script src="files/home/data.js"></script>
    <script type="text/javascript">
        $axure.utils.getTransparentGifPath = function() { return 'https://d1h0x9w88ijkiq.cloudfront.net/3372/images/transparent.gif'; };
        $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
        $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>

    <script>
        $(document).ready(function(){
            $("iframe").each(function( index ) {
                var iframeSrc = $(this).attr('src') || '';
                if(iframeSrc.indexOf('http:') != -1){
                    $(this).attr('scrolling', 'auto');
                    $(this).css('overflow', 'auto');
                    $(this).attr('src', 'https://uftnur.axshare.com/');
                }
            });
        });
    </script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u0" class="ax_default box_2">
        <div id="u0_div" class=""></div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u1" class="ax_default">
        <div id="u1_state0" class="panel_state" data-label="State1" style="">
            <div id="u1_state0_content" class="panel_state_content">

                <!-- Unnamed (Image) -->
                <div id="u2" class="ax_default image">
                    <img id="u2_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u2.jpg?token=69cf43311b8b39797f02e7afffd5fbcea176eb0ce929cd64de93972ce352b755">
                </div>
            </div>
        </div>
        <div id="u1_state1" class="panel_state" data-label="State2" style="visibility: hidden; display: none;">
            <div id="u1_state1_content" class="panel_state_content">

                <!-- Unnamed (Image) -->
                <div id="u3" class="ax_default image">
                    <img id="u3_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u3.jpg?token=27cb68a9b18de90c4f93fbee3b64c96ec23b06f71761c9e05e17e7a8e067d5df">
                </div>
            </div>
        </div>
        <div id="u1_state2" class="panel_state" data-label="State3" style="visibility: hidden; display: none;">
            <div id="u1_state2_content" class="panel_state_content">

                <!-- Unnamed (Image) -->
                <div id="u4" class="ax_default image">
                    <img id="u4_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u4.jpg?token=4b5a2d052e950fbb880d12eb06999564c78455f451379e06f5c54568cc3eb84a">
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Menu) -->
    <div id="u5" class="ax_default">
        <img id="u5_menu" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u5_menu.png?token=72e7c93811e3d2d0631f76e910b354137ea4eb94837aac49156588c0d9a1d93d" alt="u5_menu">

        <!-- Unnamed (Table) -->
        <div id="u6" class="ax_default">

            <!-- Unnamed (Menu Item) -->
            <div id="u7" class="ax_default menu_item" style="cursor: pointer;">
                <img id="u7_img" class="img" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u7.png?token=41d337397fccc790535663b7f37b895b72810953ccc056f6332708548d16be7f" tabindex="0">
                <div id="u7_text" class="text " style="top: 14px; transform-origin: 126.5px 10px;">
                    <p id="cache2" style=""><span id="cache3" style="">ЗНО</span></p>
                </div>
            </div>

            <!-- Unnamed (Menu Item) -->
            <div id="u8" class="ax_default menu_item" style="cursor: pointer;">
                <img id="u8_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u8.png?token=58ee9b8715a198bbd18456845c0861bab09c495707a0b750e70411a3aed55941" tabindex="0">
                <div id="u8_text" class="text ">
                    <p><span>Спеціальності</span></p>
                </div>
            </div>

            <!-- Unnamed (Menu Item) -->
            <div id="u9" class="ax_default menu_item" style="cursor: pointer;">
                <img id="u9_img" class="img" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u9.png?token=32a20623dd1fa0b68add6a729e5bcc86e2b0d3094e6e63da08a62d66f1f597f4" tabindex="0">
                <div id="u9_text" class="text " style="top: 14px; transform-origin: 121px 10px;">
                    <p id="cache0" style=""><span id="cache1" style="">Рейтинги</span></p>
                </div>
            </div>

            <!-- Unnamed (Menu Item) -->
            <div id="u10" class="ax_default menu_item" style="cursor: pointer;">
                <img id="u10_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u10.png?token=d34eec0977941bcd2ef9f0219bd03062b27ef984cf100a7f300cad42906f29c6" tabindex="0">
                <div id="u10_text" class="text ">
                    <p><span>ЗВО</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (Menu) -->
        <div id="u11" class="ax_default sub_menu" style="visibility: hidden; z-index: 1002; display: none;">
            <img id="u11_menu" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u11_menu.png?token=894745d1ac77b3cef0ee3703ac8fa2db8d8c83232032be3817bc70c55103217b" alt="u11_menu">

            <!-- Unnamed (Table) -->
            <div id="u12" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u13" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u13_img" class="img" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u13.png?token=e59977a282de7ff01d7f0b1849f41d00e3eac53aabf11d18a7b1bda7a99f1e12" tabindex="0">
                    <div id="u13_text" class="text " style="top: 14px; transform-origin: 126px 10px;">
                        <p id="cache4" style=""><span id="cache5" style="">Загальна інформація</span></p>
                    </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u14" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u14_img" class="img" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u14.png?token=ba2d50b7734846d476b5a417226bb869b5484789e0a8b2eb10bee555e6a5afa4" tabindex="0">
                    <div id="u14_text" class="text " style="top: 8px; transform-origin: 126px 10px;">
                        <p id="cache6" style=""><span id="cache7" style="">Предмети</span></p>
                    </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u15" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u15_img" class="img" src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u15.png?token=2517548588ef51050b2d421056874cfffd3e60be446aac7c00bf20db9bcff92b" tabindex="0">
                    <div id="u15_text" class="text " style="top: 14px; transform-origin: 126px 10px;">
                        <p id="cache8" style=""><span id="cache9" style="">Тести онлайн</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Unnamed (Menu) -->
        <div id="u16" class="ax_default sub_menu" style="visibility: hidden; z-index: 1001; display: none;">
            <img id="u16_menu" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u16_menu.png?token=146e027dd6420a726f3a9f3edadc0fea1b4b8052cb48e62521acf16b8bbf3fe8" alt="u16_menu">

            <!-- Unnamed (Table) -->
            <div id="u17" class="ax_default">

                <!-- Unnamed (Menu Item) -->
                <div id="u18" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u18_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u18.png?token=623871966a0209aa74b8f73a2703b609e9c097f335fce7db3af75b63cb8c94f0" tabindex="0">
                    <div id="u18_text" class="text ">
                        <p><span>ЗВО</span></p>
                    </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u19" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u19_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u18.png?token=623871966a0209aa74b8f73a2703b609e9c097f335fce7db3af75b63cb8c94f0" tabindex="0">
                    <div id="u19_text" class="text ">
                        <p><span>Спеціальностей</span></p>
                    </div>
                </div>

                <!-- Unnamed (Menu Item) -->
                <div id="u20" class="ax_default menu_item" style="cursor: pointer;">
                    <img id="u20_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u20.png?token=8e309ed815ca2a2d9b5236c901ec706076f841a064c970becd780f3b58f4ace3" tabindex="0">
                    <div id="u20_text" class="text ">
                        <p><span>Абітурієнтів</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u21" class="ax_default heading_1" style="cursor: pointer;">
        <div id="u21_div" class="" tabindex="0"></div>
        <div id="u21_text" class="text ">
            <p><span>Абіт</span><span style="color:#3399FF;">PRO</span><span>мощник</span></p>
        </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u22" class="ax_default icon" style="cursor: pointer;">
        <img id="u22_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u22.png?token=812b60ae01f0e98d288a5ee56eeb8a5a7fe719d3026b98f67ba27402a053ace7" tabindex="0">
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u23" class="ax_default icon" style="cursor: pointer;">
        <img id="u23_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u23.png?token=87de917f3e4318673fde4f5db2ebcc4bbaf00267c4e0249078ee29290d46f0f3" tabindex="0">
    </div>

    <!-- Unnamed (Image) -->
    <div id="u24" class="ax_default image" style="cursor: pointer;">
        <img id="u24_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u24.png?token=ae049f6c97be8e86b338f52b90f383fcc82edf1ed442d354b92d0202bb281135" tabindex="0">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u25" class="ax_default link_button" style="cursor: pointer;">
        <div id="u25_div" class="" tabindex="0"></div>
        <div id="u25_text" class="text " style="left: 2px; width: 127px; transform-origin: 63.5px 7.5px;">
            <p><span>Особистий кабінет</span></p>
        </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u26" class="ax_default image">
        <img id="u26_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u26.png?token=42e7b8abac8728ff4d34c2a16b3924404a04fb0a26249978870566d4d0625f01">
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u27" class="ax_default icon" style="cursor: pointer;">
        <img id="u27_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u27.png?token=bc1e32afca13c71ac264e0cf7919d64e69a35b3bd0e7fffa162a59730427ab6a" tabindex="0">
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u28" class="ax_default line">
        <img id="u28_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u28.png?token=6bad4754d81ef77380311b5f390ee7722e5d5cfc7ea7dcb86affc0ae6358f70e">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u29" class="ax_default label">
        <div id="u29_div" class=""></div>
        <div id="u29_text" class="text " style="left: 0px; width: 205px; transform-origin: 102.5px 9.5px;">
            <p><span>© 2019 «AбітPROмощник»</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u30" class="ax_default heading_1">
        <div id="u30_div" class=""></div>
        <div id="u30_text" class="text " style="left: 0px; width: 234px; transform-origin: 117px 25px;">
            <p style="font-size:32px;"><span style="font-family:'Brush Script MT Italic Bold', 'Brush Script MT';font-style:italic;font-size:48px;">Get in Touch</span><span style="font-family:'Arial Полужирный', 'Arial Обычный', 'Arial';font-style:normal;"> </span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u31" class="ax_default" data-left="706" data-top="784" data-width="240" data-height="45">

        <!-- Unnamed (Image) -->
        <div id="u32" class="ax_default image" style="cursor: pointer;">
            <img id="u32_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u32.png?token=4d54acc23ba82b5408c059db468f6fd1753ed8e59539e81f366977982f7e21ae" tabindex="0">
        </div>

        <!-- Unnamed (Image) -->
        <div id="u33" class="ax_default image" style="cursor: pointer;">
            <img id="u33_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u33.png?token=99b927727da7d40050ba0f84d27d1001eaccb04070e6ef09de083e2296dfafb5" tabindex="0">
        </div>

        <!-- Unnamed (Image) -->
        <div id="u34" class="ax_default image">
            <img id="u34_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u34.png?token=291f4343cf28477d7f5ebd352190fb6ea885e44d31a59c56e700688f10638460">
        </div>

        <!-- Unnamed (Image) -->
        <div id="u35" class="ax_default image">
            <img id="u35_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u35.png?token=8967141fee9084a8003a6fca01a5d180badaedf5c79147027c2a743afadabb22">
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u36" class="ax_default label">
        <div id="u36_div" class=""></div>
        <div id="u36_text" class="text " style="left: 0px; width: 58px; transform-origin: 29px 11px;">
            <p><span>With us</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u37" class="ax_default" data-left="706" data-top="851" data-width="253" data-height="24">

        <!-- Unnamed (Image) -->
        <div id="u38" class="ax_default image disabled" disabled="disabled">
            <img id="u38_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u38.png?token=2f77b55cdae78a7ea3a5e40e696072a8a0287ce77f816aecddfe2a5912171179">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u39" class="ax_default label">
            <div id="u39_div" class=""></div>
            <div id="u39_text" class="text " style="left: 0px; width: 220px; transform-origin: 110px 11px;">
                <p style="font-size:14px;"><span style="font-family:'Arial Обычный', 'Arial';font-weight:400;font-style:normal;font-size:16px;">email:</span><span style="font-family:'Arial Обычный', 'Arial';font-weight:400;font-style:normal;"> </span><span style="font-family:'Calibri Light Italic', 'Calibri Regular', 'Calibri';font-weight:300;font-style:italic;font-size:18px;">helloworld@gmail.com</span><span style="font-family:'Arial Обычный', 'Arial';font-weight:400;font-style:normal;"> </span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u40" class="ax_default line">
        <img id="u40_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u40.png?token=59648c8104145e0671f1e5e88133bf422b9bc216aa012fd47f25c8752047deff">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u41" class="ax_default heading_1">
        <div id="u41_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u42" class="ax_default heading_1">
        <div id="u42_div" class=""></div>
        <div id="u42_text" class="text ">
            <p><span>ЗНО</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u43" class="ax_default label" style="cursor: pointer;">
        <div id="u43_div" class="" tabindex="0"></div>
        <div id="u43_text" class="text ">
            <p><span>Загальна інформація</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u44" class="ax_default label" style="cursor: pointer;">
        <div id="u44_div" class="" tabindex="0"></div>
        <div id="u44_text" class="text " style="left: 0px; width: 58px; transform-origin: 29px 8px;">
            <p><span>Предмети</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u45" class="ax_default label" style="cursor: pointer;">
        <div id="u45_div" class="" tabindex="0"></div>
        <div id="u45_text" class="text " style="left: 0px; width: 82px; transform-origin: 41px 8px;">
            <p><span>Тести онлайн</span></p>
        </div>
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u46" class="ax_default line">
        <img id="u46_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u40.png?token=59648c8104145e0671f1e5e88133bf422b9bc216aa012fd47f25c8752047deff">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u47" class="ax_default heading_1">
        <div id="u47_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u48" class="ax_default heading_1">
        <div id="u48_div" class=""></div>
        <div id="u48_text" class="text " style="left: 0px; width: 91px; transform-origin: 45.5px 13px;">
            <p><span>Рейтинги</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u49" class="ax_default heading_1">
        <div id="u49_div" class=""></div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u50" class="ax_default label">
        <div id="u50_div" class=""></div>
        <div id="u50_text" class="text " style="left: 0px; width: 95px; transform-origin: 47.5px 8px;">
            <p><span>Спеціальностей</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u51" class="ax_default label" style="cursor: pointer;">
        <div id="u51_div" class="" tabindex="0"></div>
        <div id="u51_text" class="text ">
            <p><span>ЗВО</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u52" class="ax_default label">
        <div id="u52_div" class=""></div>
        <div id="u52_text" class="text ">
            <p><span>Абітурієнтів</span></p>
        </div>
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u53" class="ax_default line">
        <img id="u53_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u40.png?token=59648c8104145e0671f1e5e88133bf422b9bc216aa012fd47f25c8752047deff">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u54" class="ax_default heading_1">
        <div id="u54_div" class=""></div>
        <div id="u54_text" class="text ">
            <p><span>Спеціальності</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u55" class="ax_default label">
        <div id="u55_div" class=""></div>
        <div id="u55_text" class="text " style="left: 0px; width: 38px; transform-origin: 19px 8px;">
            <p><span>Пошук</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u56" class="ax_default label">
        <div id="u56_div" class=""></div>
        <div id="u56_text" class="text " style="left: 0px; width: 38px; transform-origin: 19px 8px;">
            <p><span>Підбір</span></p>
        </div>
    </div>

    <!-- Unnamed (Horizontal Line) -->
    <div id="u57" class="ax_default line">
        <img id="u57_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u40.png?token=59648c8104145e0671f1e5e88133bf422b9bc216aa012fd47f25c8752047deff">
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u58" class="ax_default heading_1">
        <div id="u58_div" class=""></div>
        <div id="u58_text" class="text " style="left: 0px; width: 39px; transform-origin: 19.5px 13px;">
            <p><span>ЗВО</span></p>
        </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u59" class="ax_default label">
        <div id="u59_div" class=""></div>
        <div id="u59_text" class="text ">
            <p><span>ЗВО</span></p>
        </div>
    </div>

    <!-- Unnamed (Group) -->
    <div id="u60" class="ax_default" data-left="706" data-top="894" data-width="209" data-height="24">

        <!-- Unnamed (Image) -->
        <div id="u61" class="ax_default image disabled" disabled="disabled">
            <img id="u61_img" class="img " src="https://d1icd6shlvmxi6.cloudfront.net/gsc/PK1W4Z/ec/09/b6/ec09b6df29634aca86edd05d169ceb24/images/home/u61.png?token=b33ad2ce84528cccef85f11382a671b5a68e6eb762ae0b4d3cf65fcc7fb1d5cd">
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u62" class="ax_default label">
            <div id="u62_div" class=""></div>
            <div id="u62_text" class="text " style="left: 0px; width: 176px; transform-origin: 88px 8.5px;">
                <p style="font-size:14px;"><span style="font-family:'Arial Обычный', 'Arial';font-weight:400;font-style:normal;font-size:16px;">phone:</span><span style="font-family:'Arial Обычный', 'Arial';font-weight:400;font-style:normal;"> </span><span style="font-family:'Calibri Light Italic', 'Calibri Regular', 'Calibri';font-weight:300;font-style:italic;font-size:18px;">+380777777777</span></p>
            </div>
        </div>
    </div>

    <!-- Напрями навчання (Group) -->
    <div id="u63" class="ax_default ax_default_hidden" data-label="Напрями навчання" style="display:none; visibility: hidden" data-left="0" data-top="0" data-width="0" data-height="0">

        <!-- cabinet (Group) -->
        <div id="u64" class="ax_default" data-label="cabinet" data-left="0" data-top="0" data-width="0" data-height="0">

            <!-- Unnamed (Rectangle) -->
            <div id="u65" class="ax_default flow_shape">
                <div id="u65_div" class=""></div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u66" class="ax_default link_button" style="cursor: pointer;">
                <div id="u66_div" class="" tabindex="0"></div>
                <div id="u66_text" class="text ">
                    <p><span>Особистий кабінет</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u67" class="ax_default link_button" style="cursor: pointer;">
                <div id="u67_div" class="" tabindex="0"></div>
                <div id="u67_text" class="text ">
                    <p><span>Обране</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u68" class="ax_default link_button" style="cursor: pointer;">
                <div id="u68_div" class="" tabindex="0"></div>
                <div id="u68_text" class="text ">
                    <p><span>Вийти</span></p>
                </div>
            </div>
        </div>
    </div>
</div>


</body></html>